# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.crf
*.d
*.htm
KeyMaster.map
*.uvoptx
KeyMaster.uvprojx
*.lst
Objects/KeyMaster_Target 1.dep
*.lnp
*.axf
KeyMaster_Target 1.dep
*.Brandon Howard
JLinkSettings.ini
*.txt
GLCD.h
GLCD_LPC1700.c
RTE/RTE_Components.h
startup_LPC17xx.s
system_LPC17xx.c
Font_24x16.h
AsciiLib.c
AsciiLib.h
GLCD.c
LED.c
LED.h
LED.c
ADC.c
ADC.h
